body {
    font-family: "Open Sans",sans-serif;
    overflow-x:hidden;
}
.navbar {
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.64);
}
.navbar-text {
    font-size:35px;
    margin-left:8px;
    font-family:"Montserrat",serif;
    color: rgba(255, 255, 255, 0.95) !important;
}
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.90) !important;
}
.navbar-custom a{
    margin-left:20px;
    color: rgba(255, 255, 255, 0.90) !important;
    font-size: 18px;
    font-family: "Raleway",sans-serif;
}
.navbar-custom a .navbar-text {
    color: rgba(255, 255, 255, 0.90) !important;
}
.navbar-custom .navbar-brand {
    margin-left:30px;
}
.navbar-custom ul {
    margin-right:30px;
}
.navbar-custom ul a:hover {
    color:lawngreen !important;
    transition:0.5s;
}
.navbar-toggler-icon {
    font-size: 10px;
}
.navbar-toggler {
    margin: 0px 0px 0px 0px;
    float: right;
}

.topcarousel{
    margin-left:200px;
    margin-right:200px;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    /*text-align:center;*/
    /*align-items: center;*/
    font-size:10px;
    z-index:100;
}         /* Whatsapp Icon */
.my-float{
    margin-top:15px;
    margin-left:18px;
    position: fixed;
}      /* Whatsapp Icon */
.profile {
    padding-left: 60px;
    padding-top : 30px;
}
.founder {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", serif;
    margin:10px;
}
.founderimg {
    width:415px;
    height:350px;
}
h4 {
    border-left: 3px solid deepskyblue;
    padding-left:9px;
    padding-bottom:9px;
    font-family:'Montserrat',serif;
    font-weight:400 !important;
}
.about-content {
    margin-top:25px;
}
.about-text {
    /*border: 1px solid red;*/
    padding:30px;
    text-align: justify;
}
.about {
    background:darkblue;
    color:white;
    padding:0px;
}

.chit-info {
    padding:30px;
    color: darkblue;
}
.content-table {
    border-collapse: collapse;
    margin: 0 auto 0 auto ;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead {
    height:45px;
}
.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table td {
    padding: 5px 10px;
}
.content-table th {
    padding: 4px 7px;
    width:200px;
    text-align: center;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: black;
    font-weight: 500;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
footer {
    background: black ;
    color: white !important;
}
footer a {
    color:white;
    text-underline-mode: true;
}

@media screen and (max-width: 1200px) {
    .navbar-text {
        font-size: calc(12px + (32 - 12) * ((100vw - 300px) / (1000 - 300)));
        margin:2px;
    }
    .logo {
        width:30px;
        height:100%;
        align-self: center;
        margin:2px;
    }
     body {
        overflow:scroll;
    }
    .navbar {
        display: block;
        padding: 0.3rem 0.2rem;
    }
    .threedots {
        position: relative;
        margin:0px !important;
    }
    .navbar-custom a{
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (800 - 300)));
    }
    .topcarousel {
        margin:0px;
        height: calc(0.62*100vw);
    }
    .carouselimg {
        height: calc(0.62*100vw);
    }
    .float {
        bottom: 10px;
        right: 10px;
    }
    .about-text {
        padding:15px;
    }
    .profile {
        padding:0px;
        margin:0px;
        padding-top:20px;
    }
    .founderimg {
        width:min(100vw,390px);
        height:calc(min(100vw,390px)/1.18);
    }
    .row {
        margin:0px !important;
    }
    h4 {
        font-size: 20px !important;
    }
    .about-content {
        margin-top:5px;
    }
    .chit-info {
        padding:15px 15px 0 15px;
    }
}
